<ion-header>

    <ion-navbar color="light">
        <ion-title>{{ producto.producto }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <img [src]=" producto.codigo | imagen ">

    <div padding>
        <h5>{{ producto.producto }}</h5>
        <p> <strong> Precio: </strong> {{ producto.precio_compra | currency:'USD':true }} </p>
        <p> {{ producto.descripcion}} <br><br> <strong> Proveedor:</strong> <u>{{ producto.proveedor }} </u></p>
        <button ion-button
                block
                icon-left
                *ngIf="!detalle"
                (click)="_cs.addCart( producto )">
          <ion-icon name="cart"></ion-icon>
          Agregar al carrito
        </button>
        <button ion-button
                block
                icon-left
                color="danger"
                *ngIf="detalle"
                (click)="removeItem( producto.codigo )">
          <ion-icon name="cart"></ion-icon>
          Elimnar del carrito
        </button>
    </div>

</ion-content>
