<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button icon-only ion-button (click)="viewCtrl.dismiss()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Cesta de compra</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div text-center
       class="carrito_vacio"
       *ngIf="_cs.items.length === 0">
    <ion-icon class="icon-5x" name="cart"></ion-icon>
    <br>
    <p>Su carrito está vacío</p>
  </div>

  <div *ngIf="_cs.items.length != 0">

    <ion-list>
      <ion-item-sliding *ngFor="let producto of _cs.items"
                        [navParams]="{ producto: producto, detalle: true }" [navPush]="productoPage">
        <ion-item>
          <ion-thumbnail item-left>
            <img [src]=" producto.codigo | imagen ">
          </ion-thumbnail>

          <h2 *ngIf="producto.producto.length <= 31"> {{ producto.producto | slice:0:31}}</h2>
          <h2 *ngIf="producto.producto.length > 31"> {{ producto.producto | slice:0:31}}...</h2>

        </ion-item>


        <ion-item-options side="right">
          <button ion-button color="danger" outline (click)="remove( producto.codigo )">
            <ion-icon name="trash"></ion-icon>
            Borrar
          </button>
        </ion-item-options>

      </ion-item-sliding>

    </ion-list>

    <hr>

  </div>

</ion-content>

<ion-footer>

  <ion-list>
    <ion-item>
      <h2>
        <strong>Total: </strong>
        {{_cs.total_precio | currency:'USD':true }}
      </h2>
      <button class="comprar" item-right ion-button color="secondary" (click)="_cs.makeOrder()">Comprar</button>
    </ion-item>
  </ion-list>

</ion-footer>
